{% extends 'base.html' %}
{%block title %}
    my blog
{% endblock %}

{% block content %}
    

<h1>Post</h1>

<ul>
{% for post in object_list %}
    <a href="{% url 'article-detail' post.pk %}"><li>{{post.title}}</li> </a>- {{post.author }}
    {% if user.is_authenticated %}
                <a href="{% url 'update_post' post.pk %}">(Edit)</a>
                
                <small><a href="{% url 'delete_post' post.pk %}">(Delete)</a></small>
    {% endif %}  
        <br>
        
        {{post.body|slice:'200'}}</li> 
        
{% endfor %}
</ul>
{% endblock %}